<title><%=title%></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</br>
<h1 align="center" class="header">Blood Donation Management System using Blockchain Technology</h1>
<div class="jumbotron-fluid">
    <div class="container" >                    
                <!-- ---------------------------------------------------------- -->
        <div class="row" >
            <div class="col-md-6"><!-- Sample Registration Form -->
                <h5><b>Donor Registration</b></h5>
                <div>
                <form action="setDonor" method="POST" id="donorForm" target="iframe_a">
                   <input class="form-control" type="text" name ="donorno" placeholder="Donor Address: "/><br>
                   <input class="form-control" type="text" name ="donorName" placeholder="Name"/><br>
                   <input class="form-control" type="text" name ="age" placeholder="Age " id="age"/><br>
                   <div class="form-inline font-weight-bold">
                     <label><input class="form-control" type="radio" name="gender" value="0"/>Male</label>&nbsp;&nbsp;&nbsp;&nbsp;
                     <label><input class="form-control" type="radio" name="gender" value="1"/>Female</label>&nbsp;&nbsp;&nbsp;&nbsp;
                     <label><input class="form-control" type="radio" name="gender" value="2"/>Other</label>
                   </div><br>
                   <b>Blood Group: </b><select name="bloodGroup" >
                     <option value="0">A+ve</option>
                     <option value="1">A-ve</option>
                     <option value="2">B+ve</option>
                     <option value="3">B-ve</option>
                     <option value="4">O+ve</option>
                     <option value="5">O-ve</option>
                     <option value="6">AB+ve</option>
                     <option value="7">AB-ve</option>
                    </select>
                    <br><br>
                    <input class="form-control" type="text" name="location" placeholder="Location"/>
                    <br>
                    <input class="form-control" type="tel" name="mobno" placeholder="Mobile"/>
                    <br>
                    <div class="">
                      <p class="medical"><b> Medical Conditions </b></p>
                      <div class="font-weight-bold medical">
                        <input type="checkbox" name="mCondition1" value="true" />Anemia <span><br>
                        <input type="checkbox" name="mCondition2" value="true"/>Infectious Diseases <span><br>
                        <input type="checkbox" name="mCondition3" value="true"/>Low Blood Pressure <span><br>
                        <input type="checkbox" name="mCondition4" value="true"/>Pregnancy or Recently Given Birth <span><br>
                        <input type="checkbox" name="mCondition5" value="true"/>Certain Medications <br>
                      </div>
                    </div><br>
                    <div style="text-align: center;"><button class="btn btn-dark btn-block size" type="submit" value="submit"><b>Submit</b></button></div>    
                </form></div>
              </div>
                        
              <div class="col-md-6">
                <div>
                  <h5><b>View Donor Details</b></h5>
                  <form action="getSample" method="GET" id="getdonorForm" target="iframe_a">
                    <input class="form-control" type="text" name ="search" placeholder="Donor Address" /><br>
                    <div style="text-align: center;"><button class="btn btn-dark btn-block size" type="submit" ><b>Search</b></button></div>
                  </form>
                </div><br>
                <div>
                  <h5><b>Register Blood Request</b></h5>
                  <form action="setRequest" method="POST" id="requestForm" target="iframe_a">
                   <input class="form-control" type="text" name = "bankAddr" placeholder="Blood Bank/Request Address"/><br>
                   <input class="form-control" type="text" name ="reqlocation" placeholder="Location"/><br>
                    <b>Blood Group:</b><select name="reqbloodGroup" >
                     <option value="0">A+ve</option>
                     <option value="1">A-ve</option>
                     <option value="2">B+ve</option>
                     <option value="3">B-ve</option>
                     <option value="4">O+ve</option>
                     <option value="5">O-ve</option>
                     <option value="6">AB+ve</option>
                     <option value="7">AB-ve</option>
                    </select><br><br>
                   <div style="text-align: center;"><button class="btn btn-dark btn-block size" type="submit" value="submit"><b>Submit</b></button></div>
                  </form>
                </div>
                <br>
                <div>
                 <h5><b>Accept Request</b></h5>
                 <form action="acceptRequest" method="POST" id="acceptForm" target="iframe_a">
                   <input class="form-control" type="text" name="donoraddr" placeholder="Donor Address"><br>
                   <input class="form-control" type="text" name="reqaddr" placeholder="Request Address"><br>
                   <div style="text-align: center;"><button class="btn btn-dark btn-block size" type="submit" value="submit" ><b>Submit</b></button></div>
                 </form>
                </div>
             </div>
            <!-- Iframe to handle responses -->
            <div class="container-fluid">
              <div class="embed-responsive embed-responsive-16by9 ">
              <iframe class="embed-responsive-item w-60 h-60" name="iframe_a" scrolling="no"></iframe>
            </div>
          </div>   
         </div>                
       </div>
    </div>